# Test Get Metadata
## Result
ok

---
## Message
test complete

---
## Error


---
## Log


---

---
## Test started at 2021-05-04T12:54:30.401+00:00
operation_type_id: 857

---
## Step 1

---

### Metadata Table

<table><tr><td style="border: 1px solid gray; text-align: center">item_id</td><td style="border: 1px solid gray; text-align: center">yeast_library</td><td style="border: 1px solid gray; text-align: center">protease</td><td style="border: 1px solid gray; text-align: center">protease_concentration</td><td style="border: 1px solid gray; text-align: center">sort_count</td><td style="border: 1px solid gray; text-align: center">frac_positive</td><td style="border: 1px solid gray; text-align: center">software_tube_id</td><td style="border: 1px solid gray; text-align: center">concentration</td><td style="border: 1px solid gray; text-align: center">barcode</td></tr><tr><td style="border: 1px solid gray; text-align: center"><a href='#' onclick='open_item_ui(432266)'>432266</a></td><td style="border: 1px solid gray; text-align: center">Hugh Sept 2019</td><td style="border: 1px solid gray; text-align: center"></td><td style="border: 1px solid gray; text-align: center"></td><td style="border: 1px solid gray; text-align: center"></td><td style="border: 1px solid gray; text-align: center"></td><td style="border: 1px solid gray; text-align: center"></td><td style="border: 1px solid gray; text-align: center">5.42</td><td style="border: 1px solid gray; text-align: center">atcacg</td></tr><tr><td style="border: 1px solid gray; text-align: center"><a href='#' onclick='open_item_ui(432267)'>432267</a></td><td style="border: 1px solid gray; text-align: center">Hugh Sept 2019</td><td style="border: 1px solid gray; text-align: center">Chymotrypsin</td><td style="border: 1px solid gray; text-align: center">28</td><td style="border: 1px solid gray; text-align: center">333600</td><td style="border: 1px solid gray; text-align: center">0.0278</td><td style="border: 1px solid gray; text-align: center">Tube - 5</td><td style="border: 1px solid gray; text-align: center">12.6</td><td style="border: 1px solid gray; text-align: center">cgatgt</td></tr><tr><td style="border: 1px solid gray; text-align: center"><a href='#' onclick='open_item_ui(432268)'>432268</a></td><td style="border: 1px solid gray; text-align: center">Hugh Sept 2019</td><td style="border: 1px solid gray; text-align: center">Trypsin</td><td style="border: 1px solid gray; text-align: center">28</td><td style="border: 1px solid gray; text-align: center">242400</td><td style="border: 1px solid gray; text-align: center">0.0202</td><td style="border: 1px solid gray; text-align: center">Tube - 8</td><td style="border: 1px solid gray; text-align: center">9.65</td><td style="border: 1px solid gray; text-align: center">ttaggc</td></tr></table>

---
