# Test Get Metadata
## Result
ok

---
## Message
test complete

---
## Error


---
## Log


---

---
## Test started at 2021-04-15T18:57:48.999+00:00
operation_type_id: 795

---
## Step 1

---

### Demo Table

<table><tr><td style="border: 1px solid gray; text-align: center">item_id</td><td style="border: 1px solid gray; text-align: center">yeast_library</td><td style="border: 1px solid gray; text-align: center">protease</td><td style="border: 1px solid gray; text-align: center">protease_concentration</td><td style="border: 1px solid gray; text-align: center">sort_count</td><td style="border: 1px solid gray; text-align: center">frac_positive</td><td style="border: 1px solid gray; text-align: center">software_tube_id</td><td style="border: 1px solid gray; text-align: center">barcode</td></tr><tr><td style="border: 1px solid gray; text-align: center"><a href='#' onclick='open_item_ui(486207)'>486207</a></td><td style="border: 1px solid gray; text-align: center">COVID_RBD_SSM_bcov_4</td><td style="border: 1px solid gray; text-align: center">Trypsin</td><td style="border: 1px solid gray; text-align: center">0</td><td style="border: 1px solid gray; text-align: center">5500000</td><td style="border: 1px solid gray; text-align: center">0.3232</td><td style="border: 1px solid gray; text-align: center">Tube - 2</td><td style="border: 1px solid gray; text-align: center">CATGGC</td></tr><tr><td style="border: 1px solid gray; text-align: center"><a href='#' onclick='open_item_ui(486208)'>486208</a></td><td style="border: 1px solid gray; text-align: center">COVID_RBD_SSM_bcov_4</td><td style="border: 1px solid gray; text-align: center">SARS-CoV-2 S protein RBD (Acro), Trypsin</td><td style="border: 1px solid gray; text-align: center">5, 0</td><td style="border: 1px solid gray; text-align: center">1562399, 5500000</td><td style="border: 1px solid gray; text-align: center">0.13019999999999998, 0.3232</td><td style="border: 1px solid gray; text-align: center">Tube - 2</td><td style="border: 1px solid gray; text-align: center">CATTTT</td></tr><tr><td style="border: 1px solid gray; text-align: center"><a href='#' onclick='open_item_ui(486209)'>486209</a></td><td style="border: 1px solid gray; text-align: center">COVID_RBD_SSM_bcov_4</td><td style="border: 1px solid gray; text-align: center">SARS-CoV-2 S protein RBD (Acro), Trypsin</td><td style="border: 1px solid gray; text-align: center">1, 0</td><td style="border: 1px solid gray; text-align: center">1068000, 5500000</td><td style="border: 1px solid gray; text-align: center">0.08900000000000001, 0.3232</td><td style="border: 1px solid gray; text-align: center">Tube - 3, Tube - 2</td><td style="border: 1px solid gray; text-align: center">CCAACA</td></tr></table>

---
